.table {
  width: auto;
}

.demo-inline-calendar-card {
  width: 80%;
}

.movie-table {
  max-width: 60%;
  min-width: 60%;
  min-height: 100%;
  align-items: center;
}

.table {
  min-height: 40em;
  max-height: 40em;
}

.no-movies {
  text-align: center;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  max-height: 80%;
  min-height: 80%;
  justify-content: center;
  align-items: center;
}

.calendar {
  max-width: 30%;
  min-width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.mat-column-id {
  width: 10%;
}

.mat-column-title {
  word-wrap: break-word !important;
  width: 20%;
}

.mat-column-description {
  word-wrap: break-word !important;
  width: 50%;
}

.mat-column-duration {
  width: 10%;
}